.background{
    background: linear-gradient(to right, rgb(0, 179, 255),rgb(4, 46, 253), rgb(15, 4, 33) )!important
    /* background-color: limegreen; */
}
.card-title{
    height: 80px;
}
.card-text{
    height: 130px;
}
.card-source{
    background: linear-gradient(to right, rgb(0, 179, 255),rgb(4, 46, 253), rgb(15, 4, 33) )!important;
    padding:5px;
    font-size: 10px;
    text-align: center;
}
*{
    margin: 0;
}

